# Ignore build output directory
/build

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

# Keep the embedded SVF payload as part of this self-contained application.
!/assets/nexys_a7_01.svf
